<div class="dashboard-container p-3 min-h-screen">

  <!-- KPI STRIP -->
  <div class="grid mb-2">

    @for (kpi of kpis; track kpi.title) {
    <div class="col-12 md:col-6 xl:col-3 ">
      <app-kpi-card [title]="kpi.title" [value]="kpi.value" [color]="kpi.color" [icon]="kpi.icon">
      </app-kpi-card>
    </div>
    }



  </div>

  <!-- MAIN GRID -->
  <div class="grid">

    <div class="col-12 xl:col-9 border-round-lg overflow-hidden border-1 map">
      <app-live-map-page></app-live-map-page>
      </div>

    <!-- ANALYTICS -->
    <!-- <div class="col-12 xl:col-8">

      <div class="panel threads-panel">

        <div class="panel-header mb-4">

          <div>
            <div class="panel-title">
              Fleet Analytics
            </div>
            <div class="panel-subtitle">
              Real-time fleet insights
            </div>
          </div>

          <button pButton type="button" icon="pi pi-refresh" class="p-button-text p-button-rounded text-gray-300">
          </button>

        </div>

        <app-analytics></app-analytics>

      </div>

    </div> -->

    <!-- ALERT FEED -->
    <div class="col-12 xl:col-3">

      <div class="panel threads-panel">

        <div class="flex flex-column gap-2">

          @for (alert of alerts; track alert.id) {

          <div class="feed-item">

            <div class="feed-icon" [classList]="alert.type">

              <i [classList]="alert.icon"></i>

            </div>

            <div class="flex-1">

              <div class="feed-title">
                {{ alert.title }}
              </div>

              <div class="feed-subtitle">
                {{ alert.message }}
              </div>

            </div>

            <div class="feed-time">
              {{ alert.time }}
            </div>

          </div>

          }

        </div>

      </div>

    </div>

  </div>

  <div class="grid">
      <div class="col-12 ">
      <div class="panel threads-panel">

        <app-analytics></app-analytics>

      </div>

    </div>

  </div>

</div>