<div
  class="dashboard-kpi flex flex-column justify-content-between"
>

  <!-- TOP -->

  <div class="flex align-items-start justify-content-between">

    <div class="flex flex-column gap-1">

      <span class="kpi-title">
        {{ title }}
      </span>

      <span class="kpi-value">
        {{ value }}
      </span>

    </div>

    <div
      class="icon-wrapper flex align-items-center justify-content-center"
      [ngClass]="'bg-' + color + '-100'"
    >

      <i
        [ngClass]="[
          icon,
          'text-' + color + '-500'
        ]"
      ></i>

    </div>

  </div>

  <!-- BOTTOM -->

  <div
    class="flex align-items-center justify-content-between mt-2"
  >

    <div
      class="kpi-growth flex align-items-center gap-1"
      [ngClass]="'text-' + color + '-400'"
    >

      <i class="pi pi-arrow-up text-xs"></i>

      <span>12.5%</span>

    </div>

    <span class="kpi-updated">
      Live
    </span>

  </div>

  <div
    class="card-accent"
    [ngClass]="'bg-' + color + '-500'"
  ></div>

</div>